.div_front_back {
   text-align: center;
   font-size: 2em;
   font-weight: bold;
};

.tr_student_name {
   padding-bottom: 100px;
   padding-right: 100px;
};

.input_student_name {
   width: 150px;
   height: 100px;
};
